@model List<Developer>
@{
    ViewData["Title"] = "Index";
}
<div class="row align-items-center">
    <h3 class="pl-3">Developers List</h3>
    <div class="ml-3">
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </div>
</div>

<div class="row mt-3">
    @{
        foreach (Developer dev in Model)
        {
            <partial name="_DevCard" model="dev" />
        }
    }
</div>

