@model Skill

<form method="post" asp-action="Create" asp-controller="Skill">
    <div class="input-group mb-3 w-50">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">New Skill</span>
        </div>
        <input asp-for="SkillName" placeholder="Input skill name to be added here..." class="form-control">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </div>
    <span asp-validation-for="SkillName" class="text-danger"></span>
    @if(TempData["SuccessMessage"] != null)
    {
        <span class="text-success">@TempData["SuccessMessage"]</span>
    }
</form>